<div class="wrapper">
  <div id="sidebar">{{> (sidebar) }}</div>
  <div id="message_window">
    <div id="kebab_menu_icon"></div>
    <div id="bot-heading">
      <h1>
        <span class="name">{{bot_name}}</span>
        <span class="strapline">{{{bot_strapline}}}</span>
      </h1>
    </div>

    <section>
      <div id="message_list">
        {{#with topic}}
        <div class="message outgoing">
          {{question}}
        </div>
        <div class="message">
          <p>{{answer}}</p>

          <p><small>{{source}}</small></p>
        </div>
        {{/with}}
      </div>
    </section>

    <div id="message_replies">
    </div>
    <footer>
        <form>
            <input type="text" autocomplete="off" id="messenger_input" placeholder="Type here..." />
            <button type="submit" onclick="Botkit.send(Botkit.input.value, event)">Send</button>
        </form>
    </footer>

  </div>
</div>