<div class="answer_content">
  <a href="/"><h1>{{bot_name}} answers</h1></a>

  <h2>Everything {{bot_name}} knows about this category</h2>

  {{#each topics}}
  <h3>{{question}}</h3>
  <div class="answer">{{answer}}</div>
  <p class="source">{{source}}</p>
  {{/each}}

</div>