<html>
  <head>
    <meta charset="UTF-8">
    <link rel="preload" href="/css/styles.css" as="style" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <script src="/js/ba-linkify.min.js"></script>
    {{#if data}}
    <script>const server_data = {{{data}}}</script>
    {{/if}}
    {{#if json_ld}}
    <script type="application/ld+json">
    {{{json_ld}}}
    </script>
    {{/if}}
    <script src="/client.js"></script>
    {{#if gtmid}}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{gtmid}}');</script>
    <!-- End Google Tag Manager -->
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/themes/{{theme_dir}}/styles.css" type="text/css" />
    {{#if theme_colour}}<meta name="theme-color" content="{{theme_colour}}" />{{/if}}
    <title>{{bot_page_title}}</title>
    {{> (meta) }}
  </head>
  <body>
    {{{body}}}
  </body>
</html>