<html>
  <head>
{{#if gtmid}}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{gtmid}}');</script>
<!-- End Google Tag Manager -->
{{/if}}
    <meta charset="UTF-8">
    <link rel="preload" href="/css/styles.css?n=23" as="style" />
    <link rel="stylesheet" href="/css/styles.css?n=23" />
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.4/dist/showdown.min.js"></script>
    {{#if data}} 
    <script>const server_data = {{{data}}} </script>
    {{/if}}
    <script src="/client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/themes/{{theme_dir}}/styles.css" type="text/css" />
    {{#if theme_colour}}<meta name="theme-color" content="{{theme_colour}}" />{{/if}}
    <title>{{bot_page_title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">
    {{> (meta) }}
  </head>
  <body>
    {{{body}}}
  </body>
</html>